<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StudyZen</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/study_planner.css">
                  
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>

<body>
    
    <div>
    <nav class = "navbar">
        <h2>studyZen</h2> 
        <ul>
            <li><a href= "/">Home</a></li>
            <li><a href= "/#tools">Tools</a></li>
             <li><a href= "/#about">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
         </ul>
     </nav> 
     </div>

    <h3>Add Task</h3>
 
    <form method="POST">
        <label> Subject </label> <br>
        <input type="text" name="subject" required> <br><br> <!--subject can not be empty-->
        <label> Description:</label> <br>
        <textarea name="description"></textarea> <br><br>
        <label> Due Date:</label> <br>
        <input type="date" name="due_date"> <br><br>
        <button type="submit"> Save Task </button>
    </form>
 
</body>
</html>