<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StudyZen</title>
        <link rel="stylesheet" href="/static/style.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
<body>
    

<!-- add hyperlinks later once created other pages -->
    <nav class = "navbar">
        <h2>studyZen</h2> <!-- replace with icon later -->
        <ul>
            <li><a href= "#">Home</a></li>
            <li><a href= "#">Tools</a></li>
            <li><a href= "#">Forum</a></li>
            <li><a href="{{ url_for('login') }}">Login/Register</a></li>
        </ul>
    </nav>
    
<!-- mid/main section -->    
    <div class = "main">
        <div class = "main_container">
            <div class = "main_content">
                <h1> study smarter, </h1>
                <h1> stress less. </h1>
                <p> Your guide to study stress. Manage tasks, plan your day, focus better </p>

                <div class = "main_btns"> 
                    <button class="get_started">
                    <a href= "#"> Get Started</a>
                    </button>

                    <button class ="learn_more">
                    <a href= "#"> Learn More</a>
                    </button>
                </div>
            
            </div>
            <div class = "main_img_container"> <!-- add both images here later -->   
                <img src = "/static/images/main.png"
                alt="pic" id = "main_img" 
                style="width: 1100px"/> <!-- img size maybe like change this later into css --> 
            </div>
        

        </div>
    </div>

    <div class = "tools">
        <h2> view our tools </h2>
        <div class = "tools_container">
            <div class = "tools_card">

                <div class = "card_1"> 
                    <h3> Pomodoro Timer</h3>
                    <p> Stay focused with timed sessions and breaks </p>
                    <button><a href="{{ url_for('pomodoro_timer') }}"> View </a></button> <!-- add images to button later-->
                </div>

                <div class = "card_1"> 
                    <h3> Study Planner</h3>
                    <p> Organise assignments and plan your studies </p>
                    <button> <a href ="{{url_for('study_planner') }}"> View </a> </button>
                </div>

                <div class = "card_1"> 
                    <h3> Forums</h3>
                    <p> Interact with other students and seek advice </p>
                    <button> View </button>
                </div>
            </div>
        </div>
    </div>

    <div class = "why_use">
        <h2> why use this? </h2>
        <div class = "why_use_container">
            
            <div class = "graph_image_container">
                <img src="/static/images/pie_graph.png"
                alt="graph" id="graph_img"
                style="width: 800;">
            </div>
            
            <div class = "why_use_text">
                <p> According to a survey 93.8% of Australian students indicated that they often or sometimes feel stressed about schoolwork. </p>
                <p> But managing studies doesn't have to be overwhelming. Designed to help you manage your tasks, focus on study sessions and alleviate your study stress, StudyZen makes it easy </p>
            </div>

        </div>
    </div>
    
</body>

</html>
