<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StudyZen</title>
        <link rel="stylesheet" href="#"">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>

<body>
    <h1> Study Planner </h1>

    <nav>
        <a href="{{url_for('add_task')}}">Add Task</a>
    </nav>
    {% if tasks%}

    <ul>
        {%for task in tasks %}
        <li> 
            {{task.subject}} | {{task.description}} |
            Due: {{task.due_date}}
            
            (# check if task is completed or not, if not completed provide mark completed button #)
            {% if not task.completed %}
                <a href="{{url_for('complete_task', task_id=task.id)}}"> Mark as Completed </a> 
            {% else %}
                 <p> Completed </p>
            {% endif %}
            
            {# delete #}
            <a href="{{url_for('delete_task', task_id=task.id)}}"> Delete</a>
        </li>
        {% endfor %}        
    </ul>

    {% else %}
    <p> Please set a task </p>
    {% endif %}

</body>
</html>
